.btnCumprir{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btnCumprir:hover {background-color: #3e8e41}
  
  .btnCumprir:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .btnDel{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #af4c4c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btnDel:hover {background-color: #8e3e3e}
  
  .btnDel:active {
    background-color: #8e3e3e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }